body {
    background-color: rgb(138, 143, 143);
    text-align: center;
    padding: 50px;
}

.nav {
    font-size: 30px;
}

.header {
    text-align: center;
    font-size: 30px;
}

.main {
    justify-content: center
}

ul {
    text-align: left
}